[submodule "gdext/godot-cpp"]
	path = gdext/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.5
[submodule "gdext/entt"]
	path = gdext/entt
	url = https://github.com/skypjack/entt
